:root{
    --input-text-color: #C5C5C5;
}

.section__header--presentation{
    color: var(--presentation-text-primary-color);
}

.header__h1--presentation{
    font-size: 5rem;
}

.header__h2--presentation{
   font-size: 4rem; 
}

.header__h1--presentation::after{
    content: "Ares";
    color: var(--presentation-text-secondary-color);
}

.header__h2--presentation::before, .header__h2--presentation::after{
    color: var(--presentation-text-terciary-color);
}

.header__h2--presentation::before{
    content: "Web developer ";
}

.header__h2--presentation::after{
    content: " Coder";
}

.section__div--arrow-div{
    border-top: 8rem solid var(--presentation-text-primary-color);
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;
    
    animation-name: arrow-down;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: 4;
    animation-timing-function: ease-out;
}

.section__article--about{
    position: relative;

    transition-property: z-index, background-color;
    transition-duration: .5s;
}

.section__article--about:nth-child(1){
    z-index: 0;

    transform: translate(25%, -25%);
}

.section__article--about:nth-child(2){
    z-index: 1;

    transform: translate(-25%, 25%);
    background-color: var(--unfocus-color);
}

.section__form{
    display: grid;

    grid-template-rows: repeat(2, 4rem) 24rem 4rem;
    row-gap: 1rem;

    width: 35rem;
}

.form__input,
.form__textarea{
    background-color: var(--focus-color);

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    border: none;

    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

/* Animations */
@keyframes arrow-down {
    0%{
    }

    100%{
        transform: translateY(5rem);
    }
}