* {
    box-sizing: border-box;
}

:root {
    --primary-font: 'Indie Flower', cursive;
    --secondary-font: 'Lobster', cursive;

    --primary-text-color: #12172B;
    --subheader-text-color: #5E5E5E;

    --presentation-text-primary-color: #2C306D;
    --presentation-text-secondary-color: #FFD048;
    --presentation-text-terciary-color: #A6E3DC;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

img {
    height: 100%;
}

.body__div--fixed-div {
    position: fixed;
    z-index: 50;

    display: flex;
    flex-wrap: wrap;

    height: 100vh;
    width: 100%;

    padding: 1.5rem;
}

.div__header {
    align-self: flex-start;

    display: flex;
    justify-content: space-between;

    height: 5rem;
    width: 100%;

    font-family: var(--secondary-font);
    font-size: 1.3rem;
}

.header__div {
    display: flex;
}

.div__button {
    position: relative;
    z-index: 5;
}

.div__nav--menu-nav {
    position: absolute;
    align-self: center;

    height: 5rem;

    padding-left: 2.5rem;
}

.div__nav--menu-nav li {
    height: 100%;
    width: 100%;
    background-color: #DDF7F1;
}

.div__nav--menu-nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border-left: .1rem solid #C2F0E6;

    text-decoration: none;
    color: var(--primary-text-color);
}

.div__nav--menu-nav a:hover {
    background-color: #C2F0E6;
}

.div__nav--menu-nav li:first-child {
    padding-left: 2.5rem;
}

.div__nav--menu-nav li:last-child,
.div__nav--menu-nav li:last-child a {
    border-radius: 0 50% 50% 0;
}

.nav__ul--menu-ul {
    display: grid;
    grid-template-columns: 12.5rem repeat(2, 10rem);
    grid-template-rows: 1fr;

    height: 100%;
}

.div__ul--socialmedia-list{
    display: grid;
    grid-template-columns: 3rem 3rem;
    grid-template-rows: 2rem;

    justify-items: center;
    align-content: center;

    height: 100%;
}

.body__div--bk-div{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    height: 100vh;
    width: 100%;

    background-image: url(../images/index-sectionImage.jpg);
    background-position: center;
    background-size: cover;
}

.header__div--navegation{
    position: absolute;
    align-self: center;
    margin-left: 1.5rem;
}

.header__div--navegation a{
    display: block;

    height: 1rem;
    width: 1rem;

    border: .15rem solid #2C306F;

    transform: rotate(45deg);
}

.header__div--navegation ul{
    display: grid;
    grid-template-rows: repeat(3, 2rem);
    align-items: center;
}

.body__div{
    position: relative;
    z-index: 10;
}

.div__section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    height: 100vh;
}

.div__section--presentation h1, .div__section--presentation h2{
    display: block;
    width: 100%;

    text-align: center;

    font-family: var(--primary-font);
    color: var(--presentation-text-primary-color);
}

.div__section--presentation h1{
    font-size: 5rem;
}

.div__section--presentation h1::after{
    content: "Ares";
    color: var(--presentation-text-secondary-color);
}

.div__section--presentation h2{
    font-size: 4rem;
}

.div__section--presentation h2::before{
    content: "Web developer ";
    color: var(--presentation-text-terciary-color);
}

.div__section--presentation h2::after{
    content: " Coder";
    color: var(--presentation-text-terciary-color);
}

.section__div--arrow-div{
    position: absolute;
    width: 0;
    height: 0;

    border-top: 8rem solid var(--presentation-text-primary-color);
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;

    align-self: center;
    transform: translateY(10rem);
}