:root{
    --input-text-color: #C5C5C5;

    --footer-bk-color: #A5E4DC;
    --footer-text-font: Arial, Helvetica, sans-serif;
}

.div__section{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    height: 100vh;
}

.div__section--presentation h1, .div__section--presentation h2{
    display: block;
    width: 100%;

    text-align: center;

    font-family: var(--primary-font);
    color: var(--presentation-text-primary-color);
}

.div__section--presentation h1{
    font-size: 5rem;
}

.div__section--presentation h1::after{
    content: "Ares";
    color: var(--presentation-text-secondary-color);
}

.div__section--presentation h2{
    font-size: 4rem;
}

.div__section--presentation h2::before{
    content: "Web developer ";
    color: var(--presentation-text-terciary-color);
}

.div__section--presentation h2::after{
    content: " Coder";
    color: var(--presentation-text-terciary-color);
}

.section__div--arrow-div{
    position: absolute;
    width: 0;
    height: 0;

    border-top: 8rem solid var(--presentation-text-primary-color);
    border-left: 8rem solid transparent;
    border-right: 8rem solid transparent;

    align-self: center;
    
    animation-name: arrow-down;
    animation-duration: 1.5s;
    animation-delay: 2s;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-iteration-count: 4;
    animation-timing-function: ease;
}

.div__section--about{
    flex-wrap: nowrap;
    align-items: center;
}


.div__section--about article{
    display: flex;
    flex-wrap: wrap;

    position: relative;

    height: 25rem;
    width: 30rem;

    padding: 2rem 2rem;

    border-radius: 25%;
    background-color: var(--focus-color);

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.div__section--about article:nth-child(1){
    z-index: 10;

    transform: translate(25%, -25%);
}

.div__section--about article:nth-child(2){
    z-index: 5;

    transform: translate(-25%, 25%);
    background-color: var(--unfocus-color);
}

.div__section--about article h2{
    height: min-content;
    width: 100%;

    text-align: center;

    color: var(--subheader-text-color);
    font-family: var(--primary-font);
    font-size: 2rem;
}

.div__section--about article p{
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-size: 1.2rem;
}

.div__section--contact{
    padding: 10rem;

    align-content: flex-start;
}

.div__section--contact header{
    width: 100%;

    margin-bottom: 1rem;

    align-self: flex-start;

    font-size: 3.5rem;
    font-family: var(--primary-font);
    color: var(--focus-color);
    text-align: center;

    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.div__section--contact form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    height: 100%;

    padding: 0 30%;
}

.div__section--contact form input{
    height: 4rem;
    width: 100%;

    margin-bottom: 1rem;

    background-color: var(--focus-color);

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    border: none;

    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-size: 1.5rem;
}

.div__section--contact form textarea{
    height: 24rem;
    width: 100%;

    margin-bottom: 1rem;

    border: none;

    background-color: var(--focus-color);
    
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); 
    
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-size: 1.5rem;  
    
    resize: none;
}

.div__section--contact form button{
    height: 4rem;
    transition-property: transform;
    transition-duration: .5s;
}

.div__section--contact form button:hover{
    transform: scale(110%);
}

.body__footer{
    position: relative;
    z-index: 40;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;

    padding: 0 1rem;

    background-color: var(--footer-bk-color);

    color: var(--primary-text-color);
    font-family: var(--footer-text-font);
    font-size: .8rem;
}

.body__footer a{
    color: var(--primary-text-color);
    text-decoration: none;
}

.body__footer a:hover{
    text-decoration: underline;
}

.body__footer a:first-child{
    margin-right: .5rem;
}

/* Animations */
@keyframes arrow-down {
    0%{
        transform: translateY(10rem);
    }

    100%{
        transform: translateY(15rem);
    }
}