:root {
    --primary-font: 'Indie Flower', cursive;
    --secondary-font: 'Lobster', cursive;

    --primary-text-color: #12172B;
    --subheader-text-color: #5E5E5E;

    --presentation-text-primary-color: #2C306D;
    --presentation-text-secondary-color: #FFD048;
    --presentation-text-terciary-color: #A6E3DC;

    --focus-color: #F5F5F5;
    --unfocus-color: #E2E2E2;

    --footer-bk-color: #A5E4DC;
    --footer-text-font: Arial, Helvetica, sans-serif;

    scroll-behavior: smooth;
}

.section__div--project{
    display: flex;
    column-gap: 2rem;
}



.div__figure--project{
    width: 40rem;

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

