* {
    box-sizing: border-box;
}

:root {
    --primary-font: 'Indie Flower', cursive;
    --secondary-font: 'Lobster', cursive;

    --primary-text-color: #12172B;
    --subheader-text-color: #5E5E5E;

    --presentation-text-primary-color: #2C306D;
    --presentation-text-secondary-color: #FFD048;
    --presentation-text-terciary-color: #A6E3DC;

    --focus-color: #F5F5F5;
    --unfocus-color: #E2E2E2;

    --footer-bk-color: #A5E4DC;
    --footer-text-font: Arial, Helvetica, sans-serif;

    scroll-behavior: smooth;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
}

img {
    height: 100%;
}

.body__div--fixed-div {
    position: fixed;
    z-index: 50;

    display: flex;
    flex-wrap: wrap;

    width: 100%;

    padding: 1.5rem;

    background: none;
}

.div__header {
    align-self: flex-start;

    display: flex;
    justify-content: space-between;

    height: 5rem;
    width: 100%;

    font-family: var(--secondary-font);
    font-size: 1.3rem;
}

.header__div {
    display: flex;
}

.div__button {
    position: relative;
    z-index: 5;
}

.div__nav--menu-nav {
    position: absolute;
    align-self: center;

    height: 5rem;

    padding-left: 2.5rem;
}

.div__nav--menu-nav li {
    height: 100%;
    width: 100%;
    background-color: #DDF7F1;
}

.div__nav--menu-nav a {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    border-left: .1rem solid #C2F0E6;

    text-decoration: none;
    color: var(--primary-text-color);
}

.div__nav--menu-nav a:hover {
    background-color: #C2F0E6;
}

.div__nav--menu-nav li:first-child {
    padding-left: 2.5rem;
}

.div__nav--menu-nav li:last-child,
.div__nav--menu-nav li:last-child a {
    border-radius: 0 50% 50% 0;
}

.nav__ul--menu-ul {
    display: grid;
    grid-template-columns: 12.5rem repeat(2, 10rem);
    grid-template-rows: 1fr;

    height: 100%;
}

.div__ul--socialmedia-list {
    display: grid;
    grid-template-columns: 3rem 3rem;
    grid-template-rows: 2rem;

    justify-items: center;
    align-content: center;

    height: 100%;
}

.body__div--bk-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;

    height: 100vh;
    width: 100%;

    background-image: url(../images/index-sectionImage.jpg);
    background-position: center;
    background-size: cover;
}

.body__div--navegation {
    display: flex;
    align-items: center;
    position: fixed;

    z-index: 25;

    height: 100%;

    margin-left: 3.5rem;
}

.body__div--navegation a {
    display: block;

    height: 1rem;
    width: 1rem;

    border: .15rem solid #2C306F;

    transform: rotate(45deg);
}

.body__div--navegation ul {
    display: grid;
    grid-template-rows: repeat(3, 2rem);
    align-items: center;
}

.body__div--attribution {
    position: fixed;
    z-index: 30;

    bottom: 1rem;
    left: 1.5rem;
}

.body__div {
    position: relative;
    z-index: 10;
}

.body__footer {
    position: relative;
    z-index: 40;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;

    padding: 0 1rem;

    background-color: var(--footer-bk-color);

    color: var(--primary-text-color);
    font-family: var(--footer-text-font);
    font-size: .8rem;
}

.body__footer a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.body__footer a:hover {
    text-decoration: underline;
}

.body__footer a:first-child {
    margin-right: .5rem;
}

.div__section {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    row-gap: 2rem;
    column-gap: 2rem;

    height: 100vh;
}

.section__header{
    width: 100%;

    text-align: center;
    font-family: var(--primary-font);
}

.article__header{
    width: 100%;

    text-align: center;
}

.header__h2 {
    font-size: 4rem;
    color: var(--focus-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section__article,
.div__article {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    height: 28rem;
    width: 30rem;

    padding: 2rem;

    border-radius: 15%;
    background-color: var(--focus-color);

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__h3{
    color: var(--subheader-text-color);
    font-family: var(--primary-font);
    font-size: 3rem;
    margin-bottom: 1rem;
}

.article__p{
    color: var(--primary-text-color);
    font-family: var(--primary-font);
    font-size: 1.7rem;
    line-height: 2rem;
}

.article__figure,
.div__figure{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 1rem;

    background-color: var(--focus-color);
    border-radius: 15%;
}

.article__figure:hover img,
.div__figure:hover > img{
    opacity: .25;
}

.article__figure:hover figcaption,
.div__figure:hover figcaption{
    opacity: 1;
}

.figure__img{
    width: 100%;
    height: auto;

    transition-property: opacity;
    transition-duration: .7s;
    border-radius: 15%;
}

.figure__figcaption{
    position: absolute;

    opacity: 0;


    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-size: 2rem;

    transition-property: opacity;
    transition-duration: .5s;
}