.div__section{
    column-gap: 2rem;
}

.section__article{
    height: 15rem;
    width: 15rem;

    padding: 1rem;
}

.article__figure{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    padding: 1rem;

    background-color: var(--focus-color);
    border-radius: 15%;
}

.article__figure:hover img{
    opacity: .25;
}

.article__figure:hover figcaption{
    opacity: 1;
}

.figure__img{
    width: 100%;
    height: auto;

    transition-property: opacity;
    transition-duration: .7s;
}

.figure__figcaption{
    position: absolute;

    opacity: 0;


    font-family: var(--primary-font);
    color: var(--primary-text-color);
    font-size: 2rem;

    transition-property: opacity;
    transition-duration: .5s;
}